@charset "utf-8";

/* general */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  /* background-color: #e4ffc9; */
  background-color: #c7cbbd;
  font-family: Verdana, Arial;
  font-size: 0.8rem;
}
body {
  position: relative;
  overflow-x: hidden;
}

/* small screens (default) */
html {
  font-size: 100%;
}
/* medium screens (640px) */
@media (min-width: 40rem) {
  html {
    font-size: 112%;
  }
}
/* large screens (1024px) */
@media (min-width: 64rem) {
  html {
    font-size: 120%;
  }
}



/* wrapper */
#wrapper {
  padding-left: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 220px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}



/* sidebar */
#sidebar-wrapper {
  width: 0;
  height: 100%;
  left: 220px;
  margin-left: -220px;
  background-color: #313B45;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

.sidebar-brand {
  display: block;
  padding: 10px 15px 10px 30px;
  height: 65px;
  line-height: 44px;
  font-size: 28px;
  font-family: 楷体;
}
.sidebar-brand a {
  color: #7DBE0A;
  text-decoration: none;
}

.sidebar-nav {
  list-style: none;
  position: absolute;
  top: 66px;
  bottom: 0px;
  width: 220px;
  margin: 0;
  padding: 0;
  padding-bottom: 120px;
  overflow-y: auto;
}
.sidebar-nav::-webkit-scrollbar {
  display: none;
}

.sidebar-nav .sub-menu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #111;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.sidebar-nav .sub-menu a {
  padding-left: 42px;
}
.sidebar-nav .sub-menu a:hover {
  color: #7DBE0A;
}
.sidebar-nav .sub-menu .highlight a {
  color: #7DBE0A;
}

.sidebar-nav li {
  position: relative;
  width: 100%;
  display: inline-block;
  line-height: 20px;
}
.sidebar-nav li:before {
  position: absolute;
  width: 3px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #7DBE0A;
  content: '';
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  z-index: -1;
}
.sidebar-nav li:hover:before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}

.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}

.sidebar-nav li a {
  color: #ddd;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}
.sidebar-nav li.open:hover before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}



/* page content */
#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 120px;
}

.hamburger {
  position: fixed;
  top: 20px;
  width: 32px;
  height: 32px;
  display: block;
  border: none;
  margin-left: 15px;
  background: transparent;
  z-index: 999;
}
.hamburger:hover {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  display: block;
  width: 100px;
  line-height: 32px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover before {
  display: block;
  opacity: 1;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  background-color: #b7b7b7;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
  background-color: #b7b7b7;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  background-color: #b7b7b7;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
}
.hamburger.is-open .hamb-top {
  top: 50%;
  margin-top: -2px;
  background-color: #b7b7b7;
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}
.hamburger.is-open .hamb-middle {
  display: none;
  background-color: #b7b7b7;
}
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
  background-color: #b7b7b7;
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}
.hamburger.is-open:before {
  width: 100px;
  line-height: 32px;
  display: block;
  color: #fff;
  font-size: 14px;
  text-align: center;
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-open:hover before {
  display: block;
  opacity: 1;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}

#page-content {
  font-size: 0.8rem;
  line-height: 1.3rem;
}

#page-content h1 {
  font-size: 24px;
}
#page-content h2 {
  font-size: 20px;
}
#page-content h3 {
  font-size: 18px;
  margin-top: 40px;
}
#page-content h3:before {
  content: '\27A4';
  margin-right: 10px;
}
#page-content hr {
  border-top-color: #999;
}
#page-content pre {
  padding: 0;
  font-size: 1em;
}
#page-content blockquote {
  color: #777 !important;
  font-style: normal !important;
  border-left: 4px solid #D6DBDF;
  font-size: 14px;
  background: #f9f2f4;
  margin: 8px 0;
  padding: 8px;
}
#page-content code {
  font-family: Consolas,"Courier New",Courier,FreeMono,monospace;
}
#page-content p code,
#page-content li>code,
#page-content h2>code,
#page-content h3>code {
  padding-left: 3px;
  padding-right: 3px;
  color: #c7254e;
  background: #f9f2f4;
}
#page-content img {
  max-width: 98%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
#page-content ul {
  display: block;
  list-style-type: none;
  padding-left: 10px;
}
#page-content ol {
  display: block;
  list-style-position: inside;
  padding-left: 10px;
}
#page-content ul li:before {
  content: "\2726";
  position: relative;
  left: -5px;
}
#page-content ul li,
#page-content ol li {
  font-size: 0.8rem;
}
#page-content ul li p,
#page-content ol li p {
  display: inline-block;
}
#page-content a:link, #page-content a:visited {
  color: #4682BE;
  text-decoration: none;
}
#page-content a:hover {
  text-decoration: underline;
}
#page-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
#page-content table th {
  font-weight: bold;
}
#page-content table th,
#page-content table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
#page-content table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
#page-content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}


